# Dépendances
sandbox-service-react/node_modules
sandbox-service-react/.pnp
sandbox-service-react/.pnp.js
sandbox-service-react/.yarn/install-state.gz
# Tests
sandbox-service-react/coverage

# Production
sandbox-service-react/build
sandbox-service-react/dist

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
sandbox-service-react/logs
sandbox-service-react/*.log
sandbox-service-react/npm-debug.log*
sandbox-service-react/yarn-debug.log*
sandbox-service-react/yarn-error.log*
sandbox-service-react/pnpm-debug.log*
sandbox-service-react/lerna-debug.log*

# Système d'exploitation
sandbox-service-react/.DS_Store
sandbox-service-react/Thumbs.db
sandbox-service-react/*.suo
sandbox-service-react/*.ntvs*
sandbox-service-react/*.njsproj
sandbox-service-react/*.sln
sandbox-service-react/*.sw?


frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/build
frontend/dist

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

