# Dépendances
api/node_modules
api/.pnp
api/.pnp.js
api/.yarn/install-state.gz
# Tests
api/coverage

# Production
api/build
api/dist

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
api/logs
api/*.log
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/pnpm-debug.log*
api/lerna-debug.log*

# Système d'exploitation
api/.DS_Store
api/Thumbs.db
api/*.suo
api/*.ntvs*
api/*.njsproj
api/*.sln
api/*.sw?


frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/build
frontend/dist

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

